<%= react_component('Navbar', {current_user: current_user}) %>
<div>
<p>Ruby-On-Rails</p>
<img src="<%= asset_path('railslogo.png') %>" >
</div>

<div>
<p>React-Rails</p>
<img src="<%= asset_path('react-rails-logo.png') %>" >
</div>

<div>
<p>GeoCoder</p>
<img src="<%= asset_path('geocoder-logo.png') %>" >
</div>

<div>
<p>Google Maps API (GMaps4Rails)</p>
<img src="<%= asset_path('googlemapslogo.jpg') %>" >
</div>

<div>
<p>Twilio API</p>
<img src="<%= asset_path('twilio2.jpg') %>" >
</div>

<div>
<p>BootStrap</p>
<img src="<%= asset_path('bootstrap-logo.png') %>" >
</div>    
