<%= react_component('Navbar', {current_user: current_user}) %>

<ul class="stack text-center">
  <li class=""><img src="<%= asset_path('postgresql.png') %>"></li>
  <li class=""><img src="<%= asset_path('railslogo.png') %>" ></li>
  <li class=""><img src="<%= asset_path('react-rails-logo.png') %>" ></li>
  <li class=""> <img src="<%= asset_path('geocoder-logo.png') %>" ></li>
  <li class=""> <h1>Gmap4Rails</h1></li>
  <li class=""><img src="<%= asset_path('googlemapslogo.jpg') %>" ></li>
  <li class=""><img src="<%= asset_path('twilio2.jpg') %>" ></li>
  <li class=""><img src="<%= asset_path('bootstrap-logo.png') %>"></li>
  <li class=""><img src="<%= asset_path('pin.png') %>"></li>
  <li class=""><img src="<%= asset_path('dribble.jpg') %>"></li>
</ul>
<ul class="stack wish text-center">
  <li class=""> <h1>Wish List</h1></li>
  <li class=""> <h3>Driver Experience</h3></li>
  <li class=""> <h3>Dynamic Trips</h3></li>
  <li class=""> <h3>Geolocating Drivers</h3></li>
  <li class=""> <h3>Transit Notifications</h3></li>
  <li class=""> <h3>Verification for Drivers</h3></li>
  <li class=""> <h3>Blog/Chat Service </h3></li>
</ul>

<%= react_component 'Footer' %>
