<%= react_component('Navbar', {current_user: current_user}) %>
<p>Ruby-On-Rails</p>

<img src="<%= asset_path('railslogo.png') %>" >

<p>React-Rails</p>
<img src="<%= asset_path('react-rails-logo.png') %>" >

<p>GeoCoder</p>
<img src="<%= asset_path('geocoder-logo.png') %>" >


<p>Google Maps API (GMaps4Rails)</p>
<img src="<%= asset_path('googlemapslogo.jpg') %>" >

<p>Twilio API</p>
<img src="<%= asset_path('twilio2.jpg') %>" >

<p>BootStrap</p>
<img src="<%= asset_path('bootstrap-logo.png') %>" >

