<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>

handler = Gmaps.build('Google');

handler.buildMap({ provider: {}, internal: {id: 'map'}}, 
  
    function(){
        <% if @parent_start_location && @end_location && @driver_start_location %>
        console.log('@driverstartpoint contains .......',<%=raw @driver_start_location.to_json %>);
        console.log('@parenttartpoint contains .......',<%=raw @parent_start_location.to_json %>);


        startpointmarker = handler.addMarker(<%=raw @parent_start_location.to_json %>);
        start_circle = [<%=raw @parent_start_location.to_json%>]
        start_circle_options =  {strokeColor:"#42f442", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#42f442"}
        handler.addCircles(start_circle, start_circle_options);

        endpointmarker = handler.addMarker(<%=raw @end_location.to_json %>);
        end_circle = [<%=raw @end_location.to_json%>]
        end_circle_options =  {strokeColor:'#ffd800', strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:'#ffd800'}
        handler.addCircles(end_circle, end_circle_options);

        driverpointmarker = handler.addMarker(<%=raw @driver_start_location.to_json %>);

        

        var markers = handler.addMarkers([<%=raw @parent_start_location.to_json%>, <%=raw @end_location.to_json%>])
        

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);

        var polylines = handler.addPolylines(
        [
            [
            <%=raw @parent_start_location.to_json %>,
            <%=raw @end_location.to_json %>
            ]
        ],
        { strokeColor: '#ffd800'}
        ); 

        <% end %>

        <% if @school_location1 && @school_location2 && @school_location3 && @school_location4 %>

        var schoolmarkers = handler.addMarkers([<%=raw @school_location1.to_json%>, <%=raw @school_location2.to_json%>, <%=raw @school_location3.to_json%>, <%=raw @school_location4.to_json%>])

        school_circle_1 = [<%=raw @school_location1.to_json %>]
        school_circle_1_options =  {strokeColor:"#ffd800", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#ffd800"}
        handler.addCircles(school_circle_1, school_circle_1_options);

        school_circle_2 = [<%=raw @school_location2.to_json %>]
        school_circle_2_options =  {strokeColor:"#ffd800", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#ffd800"}
        handler.addCircles(school_circle_2, school_circle_2_options);

        school_circle_3 = [<%=raw @school_location3.to_json %>]
        school_circle_3_options =  {strokeColor:"#ffd800", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#ffd800"}
        handler.addCircles(school_circle_3, school_circle_3_options);

        school_circle_4 = [<%=raw @school_location4.to_json %>]
        school_circle_4_options =  {strokeColor:"#ffd800", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#ffd800"}
        handler.addCircles(school_circle_4, school_circle_4_options);

        handler.bounds.extendWith(schoolmarkers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
        <% end %>




    }


);


</script>