<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>

handler = Gmaps.build('Google');

handler.buildMap({ provider: {}, internal: {id: 'map'}}, 
  
    function(){
        console.log('@start_location contains .......',<%=raw @start_location.to_json %>);

        <% if @start_location && @end_location %>

        start_circle = [<%=raw @start_location.to_json%>]
        start_circle_options =  {strokeColor:"#42f442", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#42f442"}
        handler.addCircles(start_circle, start_circle_options);

        end_circle = [<%=raw @end_location.to_json%>]
        end_circle_options =  {strokeColor:"#f44144", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#f44144"}
        handler.addCircles(end_circle, end_circle_options);

        startpointmarker = handler.addMarker(<%=raw @start_location.to_json %>);
        endpointmarker = handler.addMarker(<%=raw @end_location.to_json %>);

        var markers = handler.addMarkers([<%=raw @start_location.to_json%>, <%=raw @end_location.to_json%>])
        <% end %>
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
    }
);


</script>