<%= react_component 'Navbar' %>

<h1>Signup!</h1>

<%= form_for :user, url: '/signup' do |form| %>


    First Name: 
    <p><%= form.text_field :first_name %></p>
    Last Name: 
    <p><%= form.text_field :last_name %></p>
    Email: 
    <p><%= form.text_field :email %></p>
    Phone: 
    <p><%= form.text_field :phone %></p>
    Profile Picture:
    <p><%= form.user_pic :user_pic %></p>
    Password: 
    <p><%= form.password_field :password %></p>
    Confirm Password: 
    <p><%= form.password_field :password_confirmation %></p>
    <%= form.submit "Submit" %>

<% end %> 
