<%= react_component('Navbar', {current_user: current_user}) %>


<%= form_for :user, url: '/signup' do |form| %>


<%= form.hidden_field :user_pic, :value => Faker::Avatar.image %>
    <div class="signupform">
        <form class="form-signin  accept-charset="UTF-8"  action="/signup" method="POST">
            <div class="text-center mb-4 register">
                <img src="<%= asset_path('login.gif') %>" >
                <h1 class="h3 mb-3 font-weight-normal">Register so we can get your kid to School!</h1>
            </div>

            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <div class="inputs text-center mb-4"> 

                <div class="form-label-group">
                    <label for="inputEmail">First Name</label>
                    <%= form.text_field :first_name %>
                </div>

                <div class="form-label-group">
                    <label for="inputEmail">Last Name</label>
                    <%= form.text_field :last_name %>
                </div>

                <div class="form-label-group email">
                    <label for="inputEmail">Email</label>
                    <%= form.text_field :email %>
                </div>


                <div class="form-label-group phone">
                    <label for="inputEmail">Phone</label>
                    <%= form.text_field :phone %>
                </div>

                <div class="form-label-group password">
                    <label for="inputPassword">Password </label>
                    <%= form.password_field :password %>
                </div>

                <div class="form-label-group cpassword">
                    <label for="inputPassword">Confirm Password </label>
                    <%= form.password_field :password_confirmation %>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
<% end %> 