<%= react_component('Navbar', {current_user: current_user}) %>


<% if @matchedtripactive %>

    <% if flash[:success] %>
        <h4 class="text-center" style="font-family: Poppins; margin:3%; "><%= flash[:success] %></h4>
    <% end %>
<%= render 'googlemaps'%>

<%= react_component('Dashboard', { matchedtripactive: @matchedtripactive, matchedtripfuture: @matchedtripfuture, matchedtrippast: @matchedtrippast, match_startpoint_coordinates: @match_startpoint_coordinates, match_endpoint_coordinates: @match_endpoint_coordinates, user: @user} )  %>

<% else %>

    <div class= "text-center" style="margin: 0 auto" >

        <p class = "text-center triperrorp">You don't have any Schoober trips &#x2639;&#xFE0F;
            <br> But the map has some schools listed with Schoober!
        </p>

        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/parenttrips/new" role="button">Plan a Schoober Trip right now!</a>
        </div>

        <div class="text-center triperrormap">
            <%= render 'googlemaps'%>
        </div>
    </div>
    
<% end %>