<%= react_component 'Navbar' %>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, 
  
    function(){
        startpointmarker = handler.addMarkers(<%=raw @starthash.to_json %>);
        endpointmarker = handler.addMarkers(<%=raw @endhash.to_json %>)
        <% if @start_location && @end_location %>
        handler.addCircles([<%=raw @start_location.to_json%>]);
        handler.addCircles([<%=raw @end_location.to_json%>]);

        startpointmarker = handler.addMarker(<%=raw @start_location.to_json %>);
        endpointmarker = handler.addMarker(<%=raw @end_location.to_json %>);
        <% end %>
        handler.bounds.extendWith(startpointmarker);
        handler.fitMapToBounds();
        handler.getMap().setZoom(10);
    }


);




</script>

<%= react_component('Dashboard', { matchedtripactive: @matchedtripactive, matchedtripfuture: @matchedtripfuture, matchedtrippast: @matchedtrippast, match_startpoint_coordinates: @match_startpoint_coordinates, match_endpoint_coordinates: @match_endpoint_coordinates} )  %>


