<%= react_component('Navbar', {current_user: current_user}) %>




<% if !current_user %>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Schoober!</h1>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Register</a>
  </div>
<% end %>

<% if current_user %>
<div class="jumbotron">
  <h1 class="display-4">Welcome <%= current_user.first_name %>!</h1>
  <hr class="my-4">
  <% if flash[:success] %>
    <h3 class="success"><%= flash[:success] %></h3>
<% end %>
  </div>
<% end %>

<div class="container">
    <div class="row">

        <div class="col-sm align-self-start aboutindex forp">
            <h2>About Us</h2>
            <p>Schoober is a car pooling service which provides a platform to connect drivers with parents within a neighborhood.</p> 
            <img src="<%= asset_path('community.gif') %>" >
        </div>

        <div class="col-sm col align-self-end why forp">
            <h2>Why Schoober?</h2>
            <p> Some parents either don't have the time or resources to drop their kids to school. 
            And public transit is <strong>ermmm</strong>..... not so safe for younger children. </p>
            <img src="<%= asset_path('time.gif') %>" >
        </div>
    </div>

        <div class="col-sm align-self-center community forp">
                    <h2>For the Community by the Community</h2>
                    <p>Safety and convenience are major concerns and keeping that in mind that we only have drivers who are 
                    parents that have kids going to same schools.</p>
                    <img src="<%= asset_path('carpool.jpg') %>" >
        </div>
</div>
<%= react_component 'Footer' %>