<%= react_component('Navbar', {current_user: current_user}) %>


<div class="container driversh">
    <h2><%= @driver.first_name %>'s Details</h2>
    <div class=" driverm">
        <img src="<%= @driver.user_pic%>" />
    </div>
    <div>
        <p><strong>First Name:</strong> &nbsp; <%= @driver.first_name %></p>
        <p><strong>Last Name:</strong> &nbsp;   <%= @driver.last_name%></p>
        <p><strong>Email:</strong> &nbsp;      <%= @driver.email%></p>
        <p><strong>Phone:</strong> &nbsp;      <%= @driver.phone%></p>
    </div>
    <div>
        <h3>Reviews</h3>
    </div>
    <div class="reviews">
        <% @reviews.each do |review| %>
            <% review.rating.times do  %>
                <i class="fas fa-star"></i>
            <%end %>
        <span> &nbsp; <%= review.comment %></span><br>
        <% end %>
    </div>
        <%= form_for [@driver, @review], url: driver_reviews_path(@driver.id) do |form| %>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">New Review</span>
                </div>
            <%= form.text_area :comment %>
                            <div class="rating">
                <h3>Ratings</h3>
                <%= form.select :rating, [1, 2, 3, 4, 5] %>
                <%= form.submit "Create" %>
            <% end %>
        </div>
    </div>
</div>



