<%= react_component 'Navbar' %>
<h1>All possible drivers</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Start Point</th>
                <th>End Point</th>
                <th>Trip Date</th>
                <th>Time Slot</th>
                <th>Spots Available</tr>
            </tr>
        </thead>
        <tbody>
            <%= render 'drivertrip' %>
        </tbody>
    </table>
</div>

<div style='width: 800px;'>
    <div id='driver_markers' style='width: 800px; height: 400px;'></div>
</div>

<script>

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'driver_markers'}}, 

    function(){
        console.log('@parent_startlocation contains .......',<%=raw @parent_startlocation.to_json %>);
        console.log('@drivercoordinates contains .......',<%=raw @drivercoordinates.to_json %>);

        driver_startlocationmarkers = handler.addMarkers(<%=raw @drivercoordinates.to_json %>);

        parent_startlocationmarker = handler.addMarker(<%=raw @parent_startlocation.to_json %>);

        parent_startlocationcircle = [<%=raw @parent_startlocation.to_json%>]
        parent_startlocationcircle_options =  {strokeColor:"#f44144", strokeOpacity: 1, strokeWeight: 3, fillColor: 'transparent', fillColor:"#f44144"}
        handler.addCircles(parent_startlocationcircle, parent_startlocationcircle_options);
        
            

        handler.bounds.extendWith(parent_startlocationmarker);
        handler.fitMapToBounds()
        handler.getMap().setZoom(11);
    }
);


</script>


